S3method(get_xy_rownames,character)
S3method(get_xy_rownames,data.frame)
S3method(get_xy_rownames,default)
S3method(get_xy_rownames,matrix)
S3method(to_json,array)
S3method(to_json,data.frame)
S3method(to_json,default)
S3method(to_json,factor)
S3method(to_json,list)
S3method(to_json,matrix)
export("%notin%")
export("%or%")
export(camel_case)
export(clickme)
export(default_colors)
export(disjoint_sets)
export(enumerate)
export(extract_functions)
export(get_formats)
export(get_placeholder_delim)
export(get_placeholder_regex)
export(get_unique_elements)
export(is.valid)
export(is_character_or_factor)
export(is_coffee_installed)
export(is_data_frame_or_matrix)
export(json2df)
export(list_templates)
export(match_to_groups)
export(new_template)
export(open_html)
export(quote_escaped)
export(replace_delimiter)
export(replace_placeholders)
export(sample_r)
export(scale_type)
export(server)
export(snake_case)
export(test_template)
export(title_case)
export(to_json)
export(vennize)
export(xy_to_data)
export(yaml2df)
exportClasses(Chart)
import(knitr)
import(methods)
import(rjson)
import(stringr)
import(yaml)
