S3method(get_xy_rownames,character)
S3method(get_xy_rownames,data.frame)
S3method(get_xy_rownames,default)
S3method(get_xy_rownames,matrix)
S3method(to_json,array)
S3method(to_json,data.frame)
S3method(to_json,default)
S3method(to_json,factor)
S3method(to_json,list)
S3method(to_json,matrix)
export("%notin%")
export("%||%")
export(Chart)
export(clickme)
export(default_colors)
export(df2json)
export(disjoint_sets)
export(expect_correct_file)
export(extract_params)
export(get_placeholder_delim)
export(get_placeholder_regex)
export(is.valid)
export(is_character_or_factor)
export(is_coffee_installed)
export(is_data_frame_or_matrix)
export(json2df)
export(list_templates)
export(make_iframe)
export(make_link)
export(match_to_groups)
export(matrix2json)
export(new_template)
export(open_html)
export(quote_escaped)
export(replace_delimiter)
export(replace_placeholders)
export(scale_type)
export(server)
export(test_chart)
export(to_json)
export(xy_to_data)
export(yaml2df)
import(knitr)
import(methods)
import(rjson)
import(stringr)
import(yaml)
