g.hover circle, g.hover path, g.hover text {
  opacity: 1;
}

.color_group_key {
    font-size: 20px;
}

.g-search {
    position: relative;
    float: left;
}

.g-search input {
  width: 240px;
  height: 30px;
  font: 18px sans-serif;
  padding: 0 25px 0 8px;
  border: solid 1px #000;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.08);
}

.g-search .g-search-clear {
  position: absolute;
  left: 251px;
  top: 7px;
  background: #bbb;
  border: none;
  border-radius: 9px;
  color: #fff;
  font: 10px sans-serif;
  padding: 0;
  width: 18px;
  height: 18px;
}


.g-searching .g-match > circle{
    opacity: 1;
}
.g-searching .g-match > path{
    opacity: 1;
}
.g-searching .g-match > text{
    display: inline;
    opacity: 1;
}

.g-searching :not(.g-match) > circle{
    opacity: 0.2;
}
.g-searching :not(.g-match) > path{
    opacity: 0.2;
}
.g-searching :not(.g-match) > text{
    display: none;
}
