.axis line, .axis path{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    stroke-width: 2;
}

.axis text{
    font-size: 18px;
}

.label.y, .label.x {
    font-size: 24px;
}

.key {
    font-size: 20px;
}

.title{
    font-size: 30px;
}

text {
    font-family: Rockwell, Helvetica, Arial, sans;
}

.code {
    float:left;
    width: 1024px;
    padding: 20px;
    font-family: Monaco, Courier, monospace;
    /*background: #eeeeee;*/
}

iframe {
     border: 0;
}