.axis line, .axis path{
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    stroke-width: 2;
}

body{
    margin: 0;
}

.axis text{
    font-size: 18px;
}

.label.y, .label.x {
    font-size: 24px;
}

.key {
    font-size: 20px;
}

.title{
    font-size: 30px;
}

.subtitle{
    font-size: 20px;
}

text {
    font-family: Rockwell, Helvetica, Arial, sans;
}

.hide {
    display: none;
}

iframe {
     border: 0;
}