body {
  font: 12px sans-serif;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* modified versions of stack.css */
.stack {
  padding: 20px 80px;
  height: 960px;
  width: 1280px;
  background: #181818;
}

.titlepage {
  padding: 160px 80px;
}

body {
  height: 960px;
  width: 1280px;
  background: #181818;
  color: #fff;
}


a {
  text-decoration: none;
  border-bottom: dotted 1px #555;
}

a.gray {
  color: #C8C8C8;
}


aside a {
  color: #06f;
}

a.invisiblelink {
  text-decoration: none;
  border-bottom: none;
  opacity: 0;
  color: #C8C8C8;
}

a.invisiblelink:hover {
  opacity: 1;
}




font.gray {
  color: #C8C8C8;
}

font.small {
  font-size: 28px;
}

font.vsmall {
  font-size: 18px;
}





ul {
  margin-left: 120px;
}

ul.small {
  font-size: 32px;
  color: #C8C8C8;
}

ul.small ul {
  margin-left: 40px;
  font-size: 26px;
}

li {
  margin-bottom: 30px;
}

ul.tight {
  font-size: 32px;
  color: #C8C8C8;
}

/*
ul.tight li {
  margin-bottom: 14px;
}
*/

ul.tight ul {
  margin-left: 40px;
  font-size: 26px;
}

ul.reallytight {
  font-size: 30px;
  color: #C8C8C8;
}

ul.reallytight li {
  margin-bottom: 10px;
}

ul.tight ul li {
  margin-top: -20px;
  margin-bottom: 24px;
}




.big {
  font-size: 128px;
}

.caption {
  font-size: 96px;
  text-align: center;
  text-shadow: 0px 2px 6px rgba(0,0,0,.5);
}




code.small {
  font-size: 26px;
}




.reversecolor {
  background-color: #fff;
}
.reversecolor text {
  color: #181818;
}
.reversecolor h2 {
  color: #181818;
}



.axis path,
.axis line {
   fill: none;
   shape-rendering: crispEdges;
 }

.axis text {
  font-family: sans-serif;
  font-size: 22px;
  fill: white;
}



#bgrect {
  fill: rgb(190,190,190);
  background-color: rgb(190,190,190);
  stroke: #fff;
}

.axislabel {
   font-family: sans-serif;
   font-size: 24px;
   fill: rgb(125,250,125);
}

#tooltip {
   font-size: 24px;
 }

.darkhighlight {
  color: #ff0099;
}

.highlight {
  color: rgb(125,250,125);
}

aside .highlight {
  color: #ff0099;
}

.lowlight {
  color: #6baed6;
}

.glow {
  color: rgb(175,255,175);
  text-shadow: 0 0 50px #0af, 0 0 3px #fff;
}

p {
  padding: 5px 30px;
  font-size: 32px;
}

.nopadding {
  padding: 0px 0px;
}

.nopadding h3 {
  padding: 20px 80px;
}

h4 {
 font-size: 38px;
}

.chart {
  text-align: center;
}

p.pg {
  color: rgb(200,200,200);
  position:absolute;
  bottom:3px;
  right: 3px;
  font-size: 28px;
}

p.codelink {
  color: rgb(200,200,200);
  position:absolute;
  bottom:3px;
  left: 3px;
  margin-left: 40px;
  font-size: 18px;
}

p.reference {
  color: rgb(200,200,200);
  position:absolute;
  bottom:3px;
  left: 3px;
  margin-left: 40px;
  font-size: 28px;
}

p.Rreference {
  color: rgb(200,200,200);
  position:absolute;
  bottom:3px;
  right: 3px;
  margin-right: 40px;
  font-size: 28px;
}


/* aside (sticky notes) */

section aside {
  background: #FFF8B8;
  background-image: -webkit-linear-gradient(top, #FFF8B8, #FEED77);
  box-shadow: 0 8px 16px rgba(0,0,0,.5);
  color: #000;
  display: block;
  font-size: 16px;
  padding: 16px;
  position: absolute;
  right: 40px;
  bottom: 120px;
  width: 328px;
  -o-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  -o-transition: opacity 100ms linear;
  -ms-transition: opacity 100ms linear;
  -moz-transition: opacity 100ms linear;
  -webkit-transition: opacity 100ms linear;
}

section aside p:last-child {
  margin-bottom: 0;
}

section aside:hover {
  opacity: 0.35;
}

section:nth-child(odd) aside {
  -o-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
}

ul ul {
  list-style-type: none;
}
ul ul li:before {
  content: "\2013  ";
}

ul ul.nodash {
  list-style-type: none;
}
ul ul.nodash li:before {
  content: "";
}
